<!------------------------------- Featured Category Item #1 ------------------------------->
<article id="post-64" class="post-64 post type-post status-publish format-standard hentry category-music tag-featured-2 clearfix">
  <a href="http://www.training-essentials.com/featured.html" title="Featured Discount" rel="64" class="attachment-featured-featured">
    <img width="672" height="336" src="images/img1-840x630.jpg?w=672&amp;h=336&amp;crop=1" class="attachment-featured-thumbnail-featured wp-post-image" alt="img2-672x336.jpg">
  </a>
  <div class="entry-wrap">
    <header class="entry-header">
      <div class="entry-meta">
				<span class="cat-links">
					<a href="http://www.training-essentials.com/promotion.html" title="June 2013 Promotion" rel="category tag">
                      June 2013 Promo
                    </a>
   				</span>
      </div><!-- .entry-meta -->
      <h1 class="entry-title">
        <a href="http://furtherdemo.wordpress.com/2012/02/13/mauris-ac-quam-nulla/" rel="bookmark">Save 20-50% Off</a>
      </h1>
    </header><!-- .entry-header -->

    <div class="entry-summary clearfix">
      <p>Mauris ac quam nulla. Nulla sem urna, aliquet commodo vehicula ut, laoreet in diam. Quisque eu orci a risus aliquam …
        <a href="http://furtherdemo.wordpress.com/2012/02/13/mauris-ac-quam-nulla/" class="more-link">
          Read More<span class="meta-nav">→</span>
        </a>
      </p>
    </div><!-- .entry-summary -->
  </div>
</article>
<!------------------------------- Featured Category Item #1 END ------------------------------->