# FEATURED ITEM #1: CURRENT PROMOTION 2013

<article id="post-64" class="post-64 post type-post status-publish format-standard hentry category-music tag-featured-2 clearfix">
  <a href="/files/Promo2013.pdf" title="Featured Discount" class="attachment-featured-featured">
    <%= image_tag('img1-840x630.jpg', :size => "672x336", :class => 'attachment-featured-thumbnail-featured wp-post-image') %>
  </a>
  <div class="entry-wrap">
    <header class="entry-header">
      <div class="entry-meta">
				<span class="cat-links">
					<a href="/files/Promo2013.pdf" title="June 2013 Promotion" rel="category tag">
                      June 2013 Promo
                    </a>
   				</span>
      </div>
      <h1 class="entry-title">
        <a  rel="bookmark">$1000 Off 5-Day Microsoft Tech</a>
      </h1>
    </header>

    <div class="entry-summary clearfix">
      <p>Save $1000 Off Your First 5-Day Microsoft Course purchased in the month of June 2013!
      </p>
    </div>
  </div>
</article>
