<!-- Featured Category Item #3: AUDIT/PREVIEW          -->

<article id="post-130" class="post-130 post type-post status-publish format-standard hentry category-nature tag-featured-2 clearfix">
  <a title="Try It Today!" class="attachment-featured-featured">
    <%= image_tag('img3-672x336.jpg', :size => "672x336", :class => 'attachment-featured-thumbnail-featured wp-post-image') %>
  </a>
  <div class="entry-wrap">
    <header class="entry-header">
      <div class="entry-meta">
				<span class="cat-links">
					<a title="Course Preview" rel="category tag">Course Preview & Audit</a>
                </span>
      </div>
      <h1 class="entry-title"><a rel="bookmark">Try It, Before You Buy It!</a></h1>
    </header>

    <div class="entry-summary clearfix">
      <p>
        Interested but Want to See it First? Try a Live Audit of a Course & Instructor in the Technology of your Choice!
        <%=  link_to('Request Preview ',{:controller => 'pages', :action => 'prepaid'}, :class => 'more-link' ) %>
        <a class="more-link"><span class="meta-nav">→</span></a>
      </p>
    </div>
  </div>

</article>
