<!------------------------------- Featured Category Item #3 ------------------------------->
<article id="post-130" class="post-130 post type-post status-publish format-standard hentry category-nature tag-featured-2 clearfix">
  <a href="http://furtherdemo.wordpress.com/2012/02/13/nauva-nortalarta-oi-cer-heru-linga/" title="Permalink to Nauva nortalarta oi cer" rel="130" class="attachment-featured-featured">
    <img width="672" height="336" src="images/img3-672x336.jpg?w=672&amp;h=336&amp;crop=1" class="attachment-featured-thumbnail-featured wp-post-image" alt="img3-672x336.jpg">	</a>

  <div class="entry-wrap">
    <header class="entry-header">
      <div class="entry-meta">
								<span class="cat-links">
					<a href="http://furtherdemo.wordpress.com/category/nature/" title="View all posts in Nature" rel="category tag">Course Preview & Audit</a>				</span>
      </div><!-- .entry-meta -->
      <h1 class="entry-title"><a href="http://furtherdemo.wordpress.com/2012/02/13/nauva-nortalarta-oi-cer-heru-linga/" rel="bookmark">Try It, Before You Buy It!</a></h1>
    </header><!-- .entry-header -->

    <div class="entry-summary clearfix">
      <p>Lú tëa vírë calacaltasisílafaina, engë linga mí sai. Rata lasta nu cëa, en nat arca aryon. Cár taima tárië lá, … <a href="http://furtherdemo.wordpress.com/2012/02/13/nauva-nortalarta-oi-cer-heru-linga/" class="more-link">Read More <span class="meta-nav">→</span></a></p>
    </div><!-- .entry-summary -->
  </div>

</article>
<!------------------------------- Featured Category Item #3 END ------------------------------->