<!-- FEATURED ITEM #2: PREPAID PACKAGES -->

<article id="post-132" class="post-132 post type-post status-publish format-standard hentry category-paintings tag-featured-2 clearfix">
   <%= link_to( image_tag('featured2.jpg', :size => "672x336", :class => 'attachment-featured-thumbnail-featured wp-post-image'),
            {:controller => 'pages', :action => 'prepaid'}, :title => 'PRE-PAID DISCOUNTS OF 30-50% OFF',
           :class => 'attachment-featured-featured' ) %>

  <div class="entry-wrap">
    <header class="entry-header">
      <div class="entry-meta">
				<span class="cat-links">
					<a title="Prepaid Packages" rel="category tag">Pre-Paid Packages</a>
                </span>
      </div>
      <h1 class="entry-title"><a rel="bookmark">Discount Training Packages</a></h1>
    </header>

    <div class="entry-summary clearfix">
      <p>
        Purchase Training Packages and Save HUGE! (30-50% OFF)
        <br/>The Training NEVER Expires so You Can
        Use It Whenever You Want, while Guaranteed a Large Discount Across All Classes Taken.
        <%= link_to '<span class="meta-nav">→</span>', {:controller => "pages", :action => "prepaid"}, :class => "more-link" %>
      </p>
    </div>
  </div>
</article>