<!-- --------------------------------LEFT NAVIGATION MENU----------------------- -->
<div id="secondary">
  <div id="secondary-top">
    <h2 class="site-description">Discount Authorized Training</h2>

    <nav role="navigation" class="site-navigation secondary-navigation">
      <div class="menu-sidebar-menu-container">
        <ul id="menu-sidebar-menu" class="menu">
          <!--               <li id="menu-item-107" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-107"><a href="http://furtherdemo.wordpress.com/category/artwork/"></a></li>-->
          <li id="menu-item-107" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-107"><a href="http://www.training-essentials.com/promotion.html">June 2013 Promotion</a></li>
          <li id="menu-item-108" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-108"><a href="microsoft.html">Microsoft</a></li>
          <li id="menu-item-109" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-109"><a href="cisco.html">Cisco</a></li>
          <li id="menu-item-110" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-110"><a href="vmware.html">VMware</a></li>
          <li id="menu-item-111" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-111"><a href="officeapps.html">MS Office / Apps Training</a></li>
          <li id="menu-item-112" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-112"><a href="business.html">Business Skills (PMP, ITIL, etc.)</a></li>
          <li id="menu-item-113" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-113"><a href="prepaid.html">Pre-Paid Discount Packages</a></li>
          <li id="menu-item-114" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-114"><a href="schedule.pdf">Full Schedule &nbsp;&nbsp;-> &nbsp; Dec 2013</a></li>
        </ul>
      </div>
    </nav>
  </div>

  <!-- .widget-area -->
</div>

<!-- END OF LEFT MENU NAVIGATION -->