<div class="header-main clearfix">
  <h1 class="site-title">
    <%= image_tag "Training-Essentials_BLK.jpg", :alt => "Training Essentials", :size => "250x35" %><br />

  </h1>
  <nav role="navigation" class="site-navigation primary-navigation">
    <h1 class="assistive-text">Primary Menu</h1>
    <div class="assistive-text skip-link">
      <a href="#content" title="Skip to content">Skip to content</a>
    </div>
    <div class="menu-main-menu-container">
      <ul id="menu-main-menu" class="menu">
        <li id="home-item" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home">
          <a href="index.html">Home</a>
        </li>
        <li id="training-courses" class="menu-item menu-item-type-post_type menu-item-object-page">
          <a >Courses</a>
          <ul class="sub-menu">
            <li id="menu-item-258" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-258">
              <a href="microsoft.html">Microsoft</a>
            </li>
            <li id="menu-item-260" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-260">
              <a href="cisco.html">Cisco</a>
              <ul class="sub-menu">
                <li id="menu-item-261" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-261">
                  <a href="cisco/ccna.html">
                    CCNA (Routing & Switching)
                  </a>
                </li>
                <li id="menu-item-262" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-262">
                  <a href="cisco/voice.html">
                    Voice (CallManager, Unity, CCVP,...)
                  </a>
                </li>
                <li id="menu-item-263" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-263">
                  <a href="cisco/security-wireless.html">
                    Security & Wireless
                  </a>
                </li>
              </ul>
            </li>
            <li id="menu-item-265" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-265">
              <a href="vmware.html">VMware</a>
            </li>
            <li id="menu-item-259" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-259">
              <a href="officeapps.html">Apps/End-User</a>
            </li>
          </ul>
        </li>
        <li id="menu-item-264" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-264">
          <a href="certifications.html">
            Certifications
          </a>
        </li>
        <li id="menu-item-266" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-266">
          <a href="preview.html">Audit & Preview</a>
        </li>
        <li id="menu-item-267" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-267">
          <a href="contactus.html">Contact Us</a>
        </li>
        <li id="menu-item-268" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-268">
          <a>1-855-TECH-007</a>
        </li>
      </ul>
    </div>
  </nav>
</div>