
<!--------------------------------- RIGHT SIDE QUICK NAV - POSTS FOR VIDEOS / PICTURES / ETC. --------------------------------->
<div class="post-formatted-posts">
  <section id="recent-videos" class="recent-videos">
    <h1 class="format-title genericon">
      <a class="entry-format" title="All Video Posts">Videos</a>
    </h1>

    <article id="post-203" class="post-203 post type-post status-publish format-video hentry category-videos clearfix">
      <div class="entry-content clearfix">
        <p>
         <span class="embed-youtube" style="text-align:center; display: block;">
          <iframe class="youtube-player" type="text/html"
              width="306" height="203" src="http://www.youtube.com/embed/ismMaczcCzo" allowfullscreen frameborder="0">
          </iframe>
         </span>
        </p>
      </div><!-- .entry-content -->

      <header class="entry-header">
        <div class="entry-meta">
          <h1 class="entry-title"><a href="http://www.youtube.com/watch?v=ismMaczcCzo" title="Permalink to BenchmarkLearning Development Intro video" rel="bookmark">Microsoft 2012 Milestones!</a></h1>
            <span class="entry-date">
                <a title="1:30 pm" rel="bookmark">
                  <time class="entry-date" datetime="2013-06-19T16:27:40+00:00">June 19, 2013</time>
                </a>
            </span>
        </div><!-- .entry-meta -->
      </header><!-- .entry-header -->
    </article>

    <article id="post-61" class="post-61 post type-post status-publish format-video hentry category-videos category-wordpress tag-announcement tag-thermonuclear clearfix">
      <div class="entry-content clearfix">
        <p><span class="embed-youtube" style="text-align:center; display: block;"><iframe class="youtube-player" type="text/html" width="306" height="203" src="http://www.youtube.com/embed/hxgz7MR7MGQ" frameborder="0"></iframe></span></p>
      </div><!-- .entry-content -->

      <header class="entry-header">
        <div class="entry-meta">
          <h1 class="entry-title"><a href="http://www.youtube.com/watch?v=hxgz7MR7MGQ" title="Permalink to EliComputerGuy Server 2012 Intro" rel="bookmark">Intro to Server 2012 AD</a></h1>
            <span class="entry-date">
                <a title="2:30 pm" rel="bookmark">
                  <time class="entry-date" datetime="2013-06-23T16:27:40+00:00">June 23, 2013</time>
                </a>
            </span>
        </div><!-- .entry-meta -->
      </header><!-- .entry-header -->
    </article>
  </section>
</div>
