  <p>
    Training Essentials has taken the best features of traditional IT training and provides these services at
    significant discounts.  Most of the leaders of the companies we speak to are tasked with doing more with less.
    That is our mission as a company, to provide quality training at a reasonable price.
  </p>
  <blockquote class="pull alignleft">
    <p>
      “The internet has made great strides in making companies more productive and lowering costs.  This has impacted all
      industries with the exception of Live Authorized IT training.  Training Essentials is the first company that offers
      quality authorized live training at significant discounts.”
    </p>
  </blockquote>
  <p>
    We know that IT training is an essential part of building a successful and efficient company.  A well training IT team will find ways to increase productivity and reduce costs by successfully implementing today’s new software and technologies.
  </p>
  <p>
    <strong>How do we do it?</strong>
  </p>
  <p>
    Most IT training over the past 3 years has gone from a traditional classroom setting to one of a virtual class.
    A live instructor runs the class from a central location while the students connect from their home or office and
    participate live in the class as usual.

  <ul>
    <li><strong>Quality Instructors</strong> -- Our Certified Instructors service the entire country so classes are
      <strong>Guaranteed to Run</strong>, yet the size is still small enough for personal attention.
    </li>
    <li><strong>Breadth of Classes & Course Frequency</strong> -- Due to our Nationwide demand, we are able to fill,
      run, and offer more classes, more often than our competitors.
    </li>
    <li><strong>Free Retakes</strong> -- Students can repeat a course at no charge within 6 months.
    </li>
    <li><strong>Significant Discounting</strong> -- We do not have the overhead like most traditional training
      companies so we are able to offer much more significant discounting.
    </li>
    <li><strong>Train & Certify from Anywhere!</strong> -- Our training delivery infrastructure allows you to attend classes
      from ANY location you prefer… Allowing you to communicate with your instructor 1-on-1 while participating in hands-on
      labs with real-world scenarios.
    </li>
    <li><strong>Certified Instructors</strong> -- Our instructors are certified, and our training is vendor authorized,
      so you can be certain you'll be ready for the exam after training, if certification is your goal.
    </li>
  </ul>
  </p>
  <p>

  </p>
